# Ignore object files
*.o

# Ignore Executables
baseline
client
server
server_mt
create_file
compare
.run_all.sh.swp
blockcopy.h
blockcopy_clnt.c
blockcopy_svc.c
blockcopy_xdr.c

# logs
logs/

# test results
*.csv

.vscode/
charts/
results/